@model AcademicEmployee

@{
    ViewData["Title"] = "Details of the academic employee";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h3 class="text-center">Details for @Model.FullName</h3>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">

                <div class="mb-3 text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px" id="ProfilePicturePreview" />
                </div>

                <div class="mb-3">
                    <label asp-for="Faculty" class="control-label"></label>
                    <div class="form-control">
                        <a asp-controller="Faculties" asp-action="Details" asp-route-id="@Model.FacultyId">@Model.Faculty.Name</a>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="AcademicPosition" class="control-label"></label>
                    <input asp-for="AcademicPosition" class="form-control" readonly />
                    <span asp-validation-for="AcademicPosition" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ProfilePictureURL" class="control-label"></label>
                    <input asp-for="ProfilePictureURL" class="form-control" readonly />
                    <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <a class="btn btn-outline-primary" asp-controller="Lectures" asp-action="ScheduleForTeacher" asp-route-id="@Model.Id" asp-route-daysForward="0">
                        <i class="bi bi-calendar3-event"></i> Schedule for Today
                    </a>
                    <a class="btn btn-outline-primary float-end" asp-controller="Lectures" asp-action="ScheduleForTeacher" asp-route-id="@Model.Id" asp-route-daysForward="30">
                        <i class="bi bi-calendar3"></i> Schedule for Month
                    </a>
                </div>
                
                <div class="mb-3">
                    <a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
                
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })                
    </script>
}